/* RESET CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* *************************************************************** */

@font-face {
  font-family: "figtree-italic";
  src: url(./assets/fonts/Figtree-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: "figtree";
  src: url(./assets/fonts/Figtree-VariableFont_wght.ttf);
}

:root {
  font-size: 10px;
  font-family: "figtree", sans-serif;
  --main-bg: #555484;
  --form-bg: #23212d;
  --font-color: #fff;
  --gray-color: #413f49;
  --primary-color: #8229ff;
  --input-bg: #413e51;
  --input-text: #a7a6af;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  color: var(--font-color);
  font-size: 1.6rem;
}

.container {
  width: inherit;
  height: inherit;
  background-color: var(--main-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  padding: 1.6rem;
  background-color: var(--form-bg);
  width: 70vw;
  height: 80vh;
  border-radius: 2rem;
  gap: 2rem;
}

.form-container .image-section {
  position: relative;
  display: grid;
  grid-template: 1fr / 1fr;
  min-height: 300px;
}

.image-section > * {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  position: relative;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
  z-index: 1;
}

.image-section a {
  text-decoration: none;
  color: var(--font-color);
  background-color: var(--gray-color);
  padding: 0.5rem 2rem;
  max-width: fit-content;
  height: 3.5rem;
  border-radius: 5rem;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  z-index: 2;
  align-self: start;
  justify-self: end;
  margin: 1rem 1rem 0 0;
}

.image-section a:hover {
  background-color: var(--form-bg);
}

.image-section h1 {
  width: 90%;
  align-self: end;
  justify-self: center;
  font-size: 3.2rem;
  text-align: center;
  color: var(--font-color);
  z-index: 2;
  margin-bottom: 2rem;
}

.form-section {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 8%;
  gap: 2rem;
  align-self: center;
}

.form-section .text-section {
  width: 100%;
  text-align: left;
  margin-bottom: 3rem;
}

.text-section h1 {
  font-size: 4rem;
}

a {
  color: var(--primary-color);
  font-weight: 500;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "fname lname"
    "email email"
    "pass1 pass2"
    "terms terms";
  gap: 1.6rem;
}

form input#first-name {
  grid-area: fname;
}

form input#last-name {
  grid-area: lname;
}

form input#email {
  grid-area: email;
}

form input#password {
  grid-area: pass1;
}

form input#password-conf {
  grid-area: pass2;
}

.form-section span {
  grid-column: 1 / span 2;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

:focus {
  outline: none;
}

.form-section input {
  width: 100%;
  padding: 1.6rem;
  border-radius: 1rem;
  border: 1px solid var(--input-bg);
  background-color: var(--input-bg);
  color: var(--input-text);
}

.form-section input:focus {
  color: var(--font-color);
  border: 1px solid var(--primary-color);
}

.form-section span input {
  max-width: fit-content;
}

.form-section button[type="submit"] {
  grid-column: 1 / span 2;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: all 0.2s ease-in-out;
}

.form-section button[type="submit"]:hover {
  background-color: var(--form-bg);
  border: 1px solid var(--primary-color);
  cursor: pointer;
}
/* button general class */
.btn {
  padding: 1.6rem;
  border: none;
  border-radius: 1rem;
  color: var(--font-color);
  font-weight: 500;
  text-decoration: none;
}

.form-section .or-register-with {
  background-color: var(--main-bg);
  height: 0.3rem;
  position: relative;
}
.form-section .or-register-with::after {
  content: "Or register with";
  position: absolute;
  font-size: 1.5rem;
  color: var(--main-bg);
  left: calc(50% - 6rem);
  top: -1rem;
  background-color: var(--form-bg);
  padding: 0 1rem;
}

.services-login {
  display: flex;
  width: 100%;
  gap: 1.6rem;
  justify-content: center;
  align-items: center;
}

.services-login a {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid var(--primary-color);
  transition: all 0.2s ease-in-out;
}

.services-login .services-logo {
  width: 2.5rem;
  height: 2.5rem;
}

.services-login a:hover {
  border: 1px solid var(--font-color);
}

/* validate style */
input:user-valid {
  border: 1px solid green;
}

input:user-invalid {
  border: 1px solid red;
}

.error-message {
  color: red;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2rem;
  text-decoration: underline;
}

/* passowrd box on error */
.error-input {
  outline: 1px solid red;
}
